.za_colors_primary {
  color: #437bff;
}

.za_colors_secondary {
  color: #25d5e8;
}

.za_color_accent_yellow {
  color: #fbf432;
}

.za_color_accent_orange {
  color: #ffba00;
}

.za_color_accent_red {
  color: #f6328d;
}

.za_color_accent_purple {
  color: #e732fb;
}

.za_color_black {
  color: rgb(54, 65, 80);
}

.za_color_base {
  color: #f1f1f9;
}
